body{
  background-image: url("background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.riquadro_nero{
  margin: auto;
  width: 850px;
  height: 620px;
  background-color: rgba(0, 0, 0, 0.5);
}

.contenitore
{
  width: 85%;
  height: 67%;
  margin: auto;
}

nav{
  box-sizing: border-box;
  background-color: rgb(0, 215, 0);
  height: 11%;
  text-align: center;
  padding-top: 12px;
}

.logo{
  width: 250px;
  height: 110px;
  display: block;
  margin-left: 35%;
}

div > h1{
  font-family: "Montserrat", sans-serif;
  color: rgb(0, 215, 0);
  text-align: center;
}

h2
{
  display: inline;
  color: white;
}

section{
  margin-top: 10px;
}

h2, section > div, span{
  font-family: 'Manrope', sans-serif;
}

section > div, span{
  color: lightgrey;
}

section > div::before{
  content: "\2192 \0020";
}

.carica_gino
{
  background-color: rgb(245, 176, 0);
  width: 250px;
}

.carica_mike{
  background-color: rgb(0, 187, 0);
  width: 500px;
}

.carica_fede{
  background-color: rgb(210, 0, 0);
  width: 120px;
}

.carica_gino, .carica_mike, .carica_fede{
  height: 30px;
  border-radius: 5px;
}

button{
  border: 1px solid black;
}

input[type="checkbox"]{
  margin-right: 10px;
}
